<!DOCTYPE html>
<html>
	<head>
		<title>地区管理</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/demo/demo.css">
		<link rel="stylesheet" type="text/css" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="menu-header">
				<button class="easyui-linkbutton" iconCls="icon-add">添加</button>				
			</div>	
			<table>
				<thead>
					<th>地区名称</th>
					<th>添加子地区</th>
					<th>编辑</th>
					<th>删除</th>
				</thead>
				<tbody>
					<tr>
						<td>北京</td>
						<td>添加子地区</td>
						<td><span class="fa fa-edit"></span></td>
						<td><span class="fa fa-close"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>