<!DOCTYPE html>
	<html>
	<head>
		<title>站点设置</title>
	</head>
	<body>
		<div class="wrapper">
			<table>
				<tr>
					<td>网站名称</td>
					<td><input type="text" value="示例商城"/></td>					
				</tr>
				<tr>
					<td>网站标题</td>
					<td><input type="text" value="示例商城"></td>
				</tr>
				<tr>
					<td>页面关键词</td>
					<td><input type="" value="页面描述" /></td>
				</tr>
				<tr>
					<td>版权说明</td>
					<td><input type="" value="高少振版权所有"/></td>					
				</tr>
			</table>
			<fieldset>
				<legend>网站logo设置</legend>
				<table>
					<tr>
						<td>网站前台logo</td>
						<td>
							<img src="#"><br>
							<input type="file" name="">
						</td>
						<td>网站后台logo</td>
						<td>
							<img src="#"><br>
							<input type="file" name="">
						</td>
					</tr>
					<tr>
						<td>网站登陆页面logo</td>
						<td>
							<input type="file" name="">
						</td>
						<td>网站ico文件</td>
						<td>
							<input type="file" name="">
						</td>
					</tr>
				</table>
			</fieldset>			
		</div>
	</body>
</html>