<!DOCTYPE html>
	<html>
	<head>
		<title>站点设置</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
		<script src="./js/siteset.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<table>
				<tr>
					<td>网站名称</td>
					<td><input type="text" id="site-name" class="easyui-textbox" /></td>
				</tr>
				<tr>
					<td>页面关键词</td>
					<td><input type="" id="keywords"  class="easyui-textbox"/></td>
				</tr>
				<tr>
					<td>页面描述</td>
					<td><input type="" id="descript"  class="easyui-textbox"/></td>
				</tr>
				<tr>
					<td>版权说明</td>
					<td><input type="" id="copyright"  class="easyui-textbox"/></td>
				</tr>
				<tr>
					<td>icp</td>
					<td><input type="" id="icp"  class="easyui-textbox"/></td>
				</tr>
				<tr>
					<td></td><td><button id="save-site"
						class="easyui-linkbutton"
						iconCls="icon-save">保存</button></td>
				</tr>
			</table>
			<fieldset>
				<legend>网站logo设置</legend>
				<table>
					<tr>
						<td>网站前台logo</td>
						<td>
							<img src="#"><br>
							<input type="file" name="">
						</td>
						<td>网站后台logo</td>
						<td>
							<img src="#"><br>
							<input type="file" name="">
						</td>
					</tr>
					<tr>
						<td>网站登陆页面logo</td>
						<td>
							<input type="file" name="">
						</td>
						<td>网站ico文件</td>
						<td>
							<input type="file" name="">
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</body>
</html>