<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"   
 "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
         	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
	        <property name="driverClass">
	            <value>com.mysql.jdbc.Driver</value>
	        </property>
	        <property name="jdbcUrl">
	            <value>jdbc:mysql://localhost:3306/shop</value>
	        </property>
	        <property name="user">
	            <value>root</value>
	        </property>
	        <property name="password">
	            <value>123456</value>
	        </property>
	        <!--  连接池保留最大连接数-->
	        <property name="maxPoolSize"> 
	            <value>12</value> 
	        </property> 
	        
	        <!--  连接池保留最小连接数-->
	        <property name="minPoolSize"> 
	            <value>5</value> 
	        </property>
	        
	        <!--初始创建连接数  -->
	        <property  name="initialPoolSize">
	        	<value>10</value>
	        </property>
	        
	        <!--  连接用完新创建的连接数-->
	         <property name="acquireIncrement"> 
	            <value>0</value> 
	        </property>
	        
	        <!--  最大空闲时间-->
	        <property name="maxIdleTime"> 
	            <value>12000</value> 
	        </property>
	                
	        <!-- 检查空闲连接的间隔  -->
	        <property name="idleConnectionTestPeriod"> 
	             <value>120000</value> 
	        </property> 
	    </bean>
        
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">        
	        <property name="dataSource" ref="dataSource"></property>
		        <property name="hibernateProperties">
		            <props>
		           	    <!--设置sql方言  -->  
		                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
		                  
		                <prop key="hibernate.hbm2ddl.auto">validate</prop>
		                <!-- 控制台输出sql语句 -->  
		                <prop key="hibernate.show_sql">true</prop>
		                <!-- 控制台输出格式化sql语句 -->  
		                <prop key="hibernate.format_sql">true</prop>  
		            </props>  
		        </property>
		     <property name="annotatedClasses">  
	            <list>  
	                <value>cn.plate.service.entity.UserEntity</value>  
	            </list>  
        	</property>
    	</bean>
    	
    	<!-- 开启HibernateTemplate，并且为其注入SessionFactory
    使用HibernateTemplate不太方便的就是要获取session得通过getSessionFactory()方法获取 -->
    <!-- <bean class="org.springframework.orm.hibernate4.HibernateTemplate" id="hibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
     -->
    <bean name="dao" class="cn.plate.service.dao.Dao">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
	<bean name="userService" class="cn.plate.service.UserService">
		<property name="dao" ref="dao"></property>
	</bean>
	<!--  验证用户身份是否有效-->
	<bean name="signInMV" class="cn.plate.modelAndView.SignInMV" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- 验证用户是否已经登录  -->
	<bean name="serviceMV" class="cn.plate.modelAndView.ServiceMV" scope="prototype"></bean>
	<bean name="testBean" class="cn.plate.javaBean.TestBean"></bean>    
</beans>