<!DOCTYPE html>
<html>
	<head>
		<title>订单列表</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/demo/demo.css">
		<link rel="stylesheet" type="text/css" href="/shop/sto/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="./css/orderList.css"/>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="./js/orderList.js"></script>
		<script type="text/javascript" src="/shop/sto/js/global.js"></script>
	</head>
	<body>
		<div class="wrapper">			
			<table id="order-table" 
				class="easyui-datagrid"
				toolbar="#tb"
				rownumbers="true"
				fitColumns="true"
				pagination="true"
				style="width: 100%;height: auto;">
								
			</table>
			<div id="tb" style="padding:5px;height:auto">				
				<div>
					start: <input id="startTime" class="easyui-datebox"  style="width:80px">
					To: <input id="endTime" class="easyui-datebox"  style="width:80px">
					订单状态: 
					<input id="order-status" 
						class="easyui-combobox" 
						style="width:100px"
						url="/shop/mall/getOrderStatus.shtm"
						valueField="id" 
						textField="text">
					<a id="search-btn" href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
					<a id="clear-btn" href="#" class="easyui-linkbutton" >clear</a>
				</div>
			</div>
			<!-- 订单详细信息 -->
			<div  id="win" 
				class="easyui-window" 
				title="订单详细信息"
				closed="true">
				<div class="operation-group">
					<button class="operation-btn confirm-pay">确认收款</button>
					<button class="operation-btn">退款</button>
					<button class="operation-btn preparing-goods">配货</button>
					<button class="operation-btn sending-goods">发货</button>
					<button class="operation-btn">退货</button>
					<button class="operation-btn">作废</button>					
				</div>
				<div class="easyui-tabs">
					<div title="基本信息">
						<h5><strong>订单号：<span class="order-id-info"></span></strong></h5>
						<table style="width: 100%">
							<thead>
								<thead>
									<th>货号</th>
									<th>订单商品</th>
									<th style="display: none;">计价单位</th>
									<th>价格</th>
								</thead>
							</thead>
							<tbody>
								<tr>
									<td class="goods-id-info"></td>
									<td class="goods-name-info"></td>
									<td class="price-unit" style="display: none;">￥</td>
									<td class="price-info"></td>
								</tr>
							</tbody>
						</table>
						<hr>
						<section>
							<table class="inline-box">
								<caption>订单价格</caption>
								<tr>
									<th>商品总额</th>
									<td class="goods-amount"></td>									
								</tr>
								<tr>
									<th>配送费用</th>
									<td></td>
								</tr>
								<tr>
									<th>订单总额</th>
									<td class="goods-amount"></td>
								</tr>
								<tr>
									<th>已支付金额</th>
									<td class="paymoney-info"></td>
								</tr>
							</table>
							<table class="inline-box">
								<caption>订单其他信息</caption>
								<tr>
									<th>配送方式</th>
									<td></td>
								</tr>
								<tr>
									<th>配送保价</th>
									<td></td>
								</tr>
								<tr>
									<th>商品重量</th>
									<td class="weight-info"></td>
								</tr>
								<tr>
									<th>支付方式</th>
									<td></td>
								</tr>
								<tr>
									<th>可得积分</th>
									<td class="gainedpoint-info"></td>
								</tr>
							</table>
							<table class="inline-box">
								<caption>会员信息</caption>
								<tr>
									<th>用户名</th>
									<td class="member-name"></td>
								</tr>
								<tr>
									<th>电话</th>
									<td></td>
								</tr>
								<tr>
									<th>手机</th>
									<td class="member-mobile"></td>
								</tr>
								<tr>
									<th>地区</th>
									<td></td>
								</tr>
								<tr>
									<th>邮箱</th>
									<td class="member-email"></td>
								</tr>
							</table>
							<table class="inline-box">
								<caption>收货人信息</caption>
								<tr>
									<th>收货日期</th>
									<td></td>
								</tr>
								<tr>
									<th>收货人</th>
									<td class="ship-name"></td>
								</tr>								
								<tr>
									<th>手机</th>
									<td class="ship-mobile"></td>
								</tr>								
								<tr>
									<th>收货地址</th>
									<td class="ship-addr"></td>
								</tr>
							</table>
						</section>
					</div>
					<div title="订单日志">
						<article>
							<ul class="order-log-list"></ul>
						</article>
					</div>
					<div title="收退款记录"></div>
					<div title="发退货记录"></div>
					<div title="配货信息"></div>
					<div title="发票"></div>
				</div>
			</div>
		</div>
	</body>
</html>
