<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 自动扫描 -->
	<context:component-scan base-package="cn.shop.dao"/> 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:mysql://localhost:3306/shop1</value>
        </property>
        <property name="user">
            <value>root</value>
        </property>
        <property name="password">
            <value>123456</value>
        </property>
        <!--  连接池保留最大连接数-->
        <property name="maxPoolSize"> 
            <value>10</value> 
        </property> 
        
        <!--  连接池保留最小连接数-->
        <property name="minPoolSize"> 
            <value>2</value> 
        </property>
        
        <!--初始创建连接数  -->
        <property  name="initialPoolSize">
        	<value>1</value>
        </property>
        
        <!--  连接用完新创建的连接数-->
         <property name="acquireIncrement"> 
            <value>1</value> 
        </property>
        
        <!--  最大空闲时间-->
        <property name="maxIdleTime"> 
            <value>12000</value> 
        </property>
                
        <!-- 检查空闲连接的间隔  -->
        <property name="idleConnectionTestPeriod"> 
             <value>12000</value> 
        </property> 
    </bean>
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" /> 
         <property name="configLocation" value="WEB-INF/conf/mybatis-config.xml"></property> 
        <property name="mapperLocations" value="WEB-INF/conf/mapping/*.xml"></property>   
    </bean>
    
    <bean id="userDao" class="cn.shop.dao.UserDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="brandDao" class="cn.shop.dao.BrandDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="specificationDao" class="cn.shop.dao.SpecificationDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
     <bean id="typeDao" class="cn.shop.dao.TypeDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="paymentDao" class="cn.shop.dao.PaymentDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="smtpDao" class="cn.shop.dao.SmtpDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="goodsCatDao" class="cn.shop.dao.GoodsCatDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="memberDao" class="cn.shop.dao.MemberDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="memberLvDao" class="cn.shop.dao.MemberLvDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="orderDao" class="cn.shop.dao.OrderDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <!-- 收货地址 -->
    <bean id="addressDao" class="cn.shop.dao.AddressDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <!-- 顶部菜单 -->
    <bean id="siteMenuDao" class="cn.shop.dao.SiteMenuDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <!-- 商品 -->
    <bean id="goodsDao" class="cn.shop.dao.GoodsDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>
    <bean id="productDao" class="cn.shop.dao.ProductDao">            
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
    </bean>  
</beans>