<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>首页-示例商城</title>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">

    <script type="text/javascript" src="./lib/jquery/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="./lib/react-15.3.1/build/react.min.js"></script>
    <script src="./lib/react-15.3.1/build/react-dom.min.js"></script>
    <script src="./lib/react-15.3.1/build/babel.min.js"></script>    
  </head>
  <body>
  	<article id="wrapper" class="container"></article>
    
  </body>
  <script type="text/babel" src="./js/component.js"></script>
  <script type="text/babel" src="./js/index.js"></script>
</html>