<!DOCTYPE html>
<html>
	<head>
		<title>添加品牌</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/demo/demo.css">
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div>				
				<button class="easyui-linkbutton show" iconCls="icon-add">添加</button>
				<button class="easyui-linkbutton" iconCls="icon-cancel">删除</button>				
				<button class="easyui-linkbutton reload-brand" iconCls="icon-reload">刷新</button>				
			</div>
			<div>
				品牌名称：<input type="" name="">
				商品类型：
				<select>
					<option>所有类型</option>
				</select>
				<button>搜索</button>
			</div>
			
			<table id="brand-table" class="easyui-datagrid" 
				rownumbers="true"
				fitColumns="true"
				style="width:100%;height:auto;">
			 		<thead>
			 			<th data-options="field:'ck',checkbox:'true'"></th>
			 			<th field="brand_id" align="center" width="50">品牌ID</th>
			 			<th field="name" align="center" width="50">品牌名称</th>
						<th field="url" align="center" width="50">品牌地址</th>	
						<th field="logo" align="center" width="50">logo</th>	
						<th field="brief" align="center" width="50">备注</th>	
						<th field="keywords" align="center" width="50">关键字</th>	
						<th field="disabled" align="center" width="50">有效</th>	
			 		</thead>			 		
			</table>
			<div id="win" class="easyui-window" title="添加品牌" 
				closed="true"
				style="width:500px;height:330px;padding:5px;">
				<form id="brand-form" action="/shop/brand/addBrand.action"
					enctype="multipart/form-data">
					<table>
						<tr>
							<td>品牌名称:</td>
							<td><input type="text" name="name"/></td>
						</tr>
						<tr>
							<td>品牌网址:</td>
							<td><input type="url"></td>
						</tr>
						<tr>
							<td>品牌logo:</td>
							<td>								
								<input type="file" name="logo">
							</td>
						</tr>
						<tr>
							<td>详细说明:</td>
							<td>
								<textarea name="brief" style="width: 363px;height: 137px;"></textarea>
							</td>
						</tr>						
					</table>					
				</form>
				<button id="submit-brand-btn">保存数据</button>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="./js/addBrand.js"></script>
</html>