<!DOCTYPE html>
<html>
	<head>
		<title>添加分类</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="./css/goodscat.css">
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
		<script src="./js/goodscat.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<nav class="operation-group">
				<button id="add-cat-btn" class="easyui-linkbutton" 
					iconCls="icon-add">添加分类</button>
				<button id="redresh-grid" class="easyui-linkbutton" 
					iconCls="icon-reload">刷新</button>		
			</nav>
			<table id="goods-cat-table" 
				class="easyui-datagrid"
				rownumbers="true"
				fitColumns="true"
				nowrap="false"			
				style="width:600px;height:300px;">				
			</table>
			<section>
				<div id="add-cat-window" class="easyui-window" 
					closed="true"
					style="width: 600px;height: 300px">
					<table>
						<tr>
							<td>分类名称</td>
							<td><input id="cat-name" type="" value="名称"></td>
						</tr>
						<tr>
							<td>分类图片</td>
							<td><input id="cat-file" type="file" name=""></td>
						</tr>
						<tr>
							<td>上级分类</td>
							<td><select id="parent-cat"></select></td>
						</tr>
						<tr>
							<td>商品类型</td>
							<td><select id="type"></select>此项必填</td>
						</tr>
						<tr>
							<td></td><td><button id="submit-cat">确定</button></td>
						</tr>
					</table>		
				</div>
				<div id="operation-window" class="easyui-dialog" 
					closed="true"
					title="操作" 
					buttons="#dlg-buttons"
					style="width: 300px;height: 150px;padding: 10px">

					<input type="text" id="goods-cat-id" hidden="true">
					库存报警<input type="number" id="store-warn">

					<div id="dlg-buttons">
						<a href="#" class="easyui-linkbutton" 
							iconCls="icon-ok"
							>保存</a>		
					</div>
			</section>			
		</div>
	</body>
</html>