<!DOCTYPE html>
<html>
	<head>
		<title>添加商品</title>
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
		<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/demo/demo.css">
		<link rel="stylesheet" type="text/css" href="/shop/sto/css/global.css">
		<link rel="stylesheet" type="text/css" href="./css/addGoods.css">

		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/shop/store/nicEdit/nicEdit.js"></script>
		<script type="text/javascript" src="./js/addGoods.js"></script>
		<script type="text/javascript" src="/shop/sto/js/tools.js"></script>
	</head>
	<body>
		<style type="text/css">
			*{
				list-style: none;
			}
			body{
				padding-left: 10px;
			}
		</style>
		<div class="wrapper">
			<div id="cat-panel">
				<h3>选择分类
					<label id="cat-info">
						<span id="first-cat" class="cat-label"></span>
						<span id="second-cat" class="cat-label"></span>
						<span id="third-cat" class="cat-label"></span>
					</label>
				</h3>			
				<div class="easyui-layout" style="width: 600px;height: 200px">
					<!-- 一级分类 -->
					<div data-options="region:'west',split:true" style="width:180px;height:100%">
						<ul id="firstList"></ul>
					</div>
					<!-- 二级分类 -->
					<div data-options="region:'center'" style="height:100%">
						<ul id="secondList"></ul>
					</div>
					<!-- 三级分类 -->
					<div data-options="region:'east',split:true" style="width:180px;height:100%">
						<ul id="thirdList"></ul>
					</div>
				</div>
				<button id="next-btn">下一步</button>
			</div>
			<div id="param-panel" style="display: none;">
				<button id="previous-btn">上一步</button>
				<div id="tt" class="easyui-tabs" style="width:750px;height:350px;">
				    <div title="基本信息" style="padding:20px;">
				    	<form id="base-info">
				    		<input type="text" name="catId" hidden="true"/>
				    		<input type="text" name="typeId" hidden="true"/>
							<table style="width: 100%">								
								<tr>
									<th>商品分类</th>
									<td><input id="cat-info-selected" type="text" /></td>
								</tr>
								<tr>
									<th>商品名称</th>
									<td><input id="goods-name" type="text" name="name"></td>
								</tr>
								<tr>
									<th>是否上架销售</th>
									<td id="marketEnable">
										<label>
											<input type="radio"  name="marketEnable" checked="true" value="1"/>是
										</label>
										<labe1>
											<input type="radio" name="marketEnable" value="0" />否
										</label>	
									</td>
								</tr>
								<tr>
									<th>市场价格</th>
									<td><input id="mktPrice" type="number" name="mktPrice" value="0.00"></td>
								</tr>
								<tr>
									<th>获得积分</th>
									<td><input type="number" id="point" name="point" value="0"></td>
								</tr>
								<tr>
									<th>详细描述</th>
									<td>
										<div id="brief-edit">
										<div id="intro" style="width: 400px; height: 120px;">
										</div>
										</div>
									</td>
								</tr>
							</table>
						</form>
				    </div>
				    <div title="相册"  style="padding:20px;">
						<input type="file" id="picture1" name="file1">
						<input type="file" id="picture2" name="file2">
						<input type="file" id="picture3" name="file3">
						<input type="file" id="picture4" name="file4">
				    </div>
				    <div title="规格"  style="padding:20px;">
						<table>
							<tbody>
								<tr>
									<th>销售价</th>
									<td><input type="text" name="price"></td>
									<td style="display: none;"><button>编辑会员价格</button></td>
								</tr>
								<tr>
									<th>成本价</th>
									<td><input type="number" name=""></td>									
								</tr>
								<tr>
									<th>重量</th>
									<td><input type="number" name=""></td>
								</tr>
								<tr>
									<th>规格</th>
									<td><button>开启规格</button></td>
								</tr>
							</tbody>
						</table>
				    </div>
				    <div title="属性"  style="padding:2px;">
				    	<table id="brand-edit"></table>					
						<table id="prop-edit"></table>
				    </div>
				    <div title="参数"  style="padding:20px;">
						<div id="param-edit"></div>
				    </div>
				    <div title="SEO"  style="padding:20px;">
						<textarea id="seo"></textarea>
				    </div>
				    <div title="标签"  style="padding:20px;">
						<ul id="edit-tag"></ul>
				    </div>
				</div>
				<button id="submit-form">提交信息</button>
			</div>
			<form action="/shop/mall/addGoods.shtm" method="post" id="goods-form"></form>
		</div>
	</body>
</html>