<!DOCTYPE html>
<html>
	<head>
		<title>添加类型</title>
	</head>
	<body>
		<div class="wrapper">
			<table>
				<tr>
					<td>类型名称</td>
					<td><input type="" value="裙子"></td>
				</tr>
				<tr>
					<td>此类型下商品是否拥有属性</td>
					<td>
						<label><input name="yes" type="radio" value="" />是 </label>
						<label><input name="yes" type="radio" value="" />否 </label>
					</td>
				</tr>
				<tr>
					<td>此类型下商品是否拥有参数</td>
					<td>
						<label><input name="yes" type="radio" value="" />是 </label>
						<label><input name="yes" type="radio" value="" />否 </label>
					</td>
				</tr>
				<tr>
					<td>此类型是否关联品牌</td>
					<td>
						<label><input name="yes" type="radio" value="" />是 </label>
						<label><input name="yes" type="radio" value="" />否 </label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><button>下一步</button></td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<ul>
							<li>丹尼熊</li>
							<li>双立人</li>
							<li>张小泉</li>
						</ul>
					</td>
					<td>
						<button>-----></button><br>
						<button><-----</button><br>
						<button>重置</button><br>
					</td>
					<td>
						<ul>
							<li>皇家宝贝</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>