<!DOCTYPE html>
<html>
<head>
	<title>类型列表</title>
	<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../lib/jquery-easyui-1.5.1/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="/shop/sto/css/global.css">
	<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="../lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div>				
			<button class="easyui-linkbutton show" iconCls="icon-add">添加</button>
			<button class="easyui-linkbutton delete-type" iconCls="icon-cancel">删除</button>				
			<button class="easyui-linkbutton reload-type" iconCls="icon-reload">刷新</button>				
		</div>			
		<table id="type-table" class="easyui-datagrid" 			
			fitColumns="true"
			pagination="true"
			style="width:98%;height:auto;">
	 		<thead>
	 			<th data-options="field:'ck',checkbox:'true'"></th>
	 			<th field="type_id" align="center" width="50">类型ID</th>
	 			<th field="name" align="center" width="50">类型名称</th>
				<th field="propsList" align="center" width="50">属性</th>	
				<th field="paramList" align="center" width="50">参数</th>	
				<th field="disabled" align="center" width="50">是否有效</th>	
				<th field="have_prop" align="center" width="50">是否拥有属性</th>	
				<th field="have_parm" align="center" width="50">是否拥有参数</th>	
				<th field="join_brand" align="center" width="50">是否有品牌</th>
			</thead>			 		
		</table>			
	</div> 
	<script type="text/javascript" src="./js/typelist.js"></script>
</body>
</html>