<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./lib/jquery-easyui-1.5.1/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="./lib/jquery-easyui-1.5.1/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="./lib/jquery-easyui-1.5.1/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<script type="text/javascript" src="./lib/jquery-easyui-1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="./lib/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
</head>
<body> 
    <div id="w" class="easyui-window" title="请登录" 
    		data-options="modal:true,closed:false,iconCls:'Lockgo',closable:false,minimizable:false" 
    		style="width:400px;padding:20px 70px 20px 70px;">  
    	<form id="login-form" action="/shop/sign/in.shtm" method="post">
    		<input type="text" name="userClassification" value="1" hidden="true">
	        <div style="margin-bottom:10px">  
	            <input name="username" class="easyui-textbox" id="username" 
	            	style="width:100%;height:30px;padding:12px" 
	            	data-options="prompt:'登录邮箱',iconCls:'icon-man',iconWidth:38">  
	        </div>  
	        <div style="margin-bottom:20px">  
	            <input name="password" class="easyui-textbox" id="password" 
	            type="password" 
	            style="width:100%;height:30px;padding:12px" 
	            data-options="prompt:'登录密码',iconCls:'icon-lock',iconWidth:38">  
	        </div>  
	        <div style="margin-bottom:20px;display: none;">  
	            <input class="easyui-textbox" type="text" id="logyzm" 
	            	style="width:50%;height:30px;padding:12px" data-options="prompt:'验证码'"> 
	            <a href="javascript:;" class="showcode" onclick="changeVeryfy()">
	            <img style=" margin:0 0 0 3px ; vertical-align:middle; height:26px;" src="/index.php?s=/Xjadmin/verifyCode"></a>  
	        </div>  
	        <div style="margin-bottom:20px">  
	            <input type="checkbox" checked="checked" id="logrem">  
	            <span>记住密码</span>  
	        </div>
        </form>  
        <div>  
            <a href="javascript:;" onclick="dologin()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:100%;">  
                <span style="font-size:14px;">登录</span>  
            </a>  
        </div>  
    </div> 
</body>
<script type="text/javascript">
	function dologin(){
		var username=$("#username").val();
		var password=$("#password").val();
		console.info(username + password);
		if (username.length >3 &&　password.length >3) {
			$("#login-form").submit();
		}
		else{
			alert("请输入有效信息");
		}
	}	
</script>
</html>